.contAreaSec{
    background-image: url("/src/Assets//BackgroundBanner.gif");
    border: 1px;
    border-radius: 5px;  
    background-size: cover; 
  background-repeat: no-repeat;
}
.contentArea h2 {
    text-transform: capitalize;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
  
}

.contentArea p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin: 12px 0 20px;
}