.MainDiv{
    border: 1px solid #f2f7f2;
    height: 40vh;
    border-radius: 15px;
    background-color: #f2f7f2;
   
}
.fonts{
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.fonts:hover{
    color: #ada0a0;
    font-size: 16px;
}