.slider_img {

  background-image: url("/src/Assets/bg-grad.jpg");
  width: 100%;
  /* background-size: 100% 25rem; */
  background-size: cover;
  height: 25rem;
  background-repeat: no-repeat;

}

.head {
  font-size: 55px;
  /* line-height: 72px; */
  color: white;
}

.row_1 {

  /* background: rgba(122, 169, 60, 0.6); */
  height: auto;

}

.blogItem:hover {
  /* transform: translateY(-18px); */
  cursor: pointer;
  transform: scale(1.05);
}

.blogItem {
  background: linear-gradient(to right, #ffffff, #ffffff);
  height: 150px;
  width: 25vw;
  text-align: center;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 25px 35px 25px 35px;
  /* margin: 5%; */
  border-radius: 2%;
  opacity: 0.9;
}

.spanTitle {
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
}

