.buttonTalentHover {
    background-color: transparent; 
    color: #3C1173; 
    border: 2px solid #3C1173;
    width: 70%;
    height: 7vh;
  }
  
  .buttonTalentHover:hover {
    background-color: #3C1173;
    color: white;
  }
  .buttonTalentText{
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    font-weight: bold;
  }